<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="31000">
        <setting label="31001" type="text" id="username" default="" />
        <setting label="31002" type="text" id="password" default="" option="hidden" />
        <setting label="31003" type="bool" id="hide_clips" default="true" />
    </category>
    <category label="31010">
        <setting label="31011" type="labelenum" id="stream_quality" values="1080p|720p|480p|360p" />
    </category>
</settings>
